/* ============================= */
/* GAYA DASAR (MOBILE < 576px)   */
/* ============================= */
.facilities {
  background-color: var(--clr-surface);
  padding: 4rem;
}

.facilities__heading {
  font-size: var(--fs-xl);
  font-family: var(--ff-secondary);
  color: var(--clr-desc);
  margin-bottom: 1rem;
}

.facilities__subheading {
  font-size: var(--fs-lg);
  color: var(--clr-desc);
}

.facilities__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 1.5rem;
  margin-top: 2rem;
}

.facilities__card {
  display: flex;
  align-items: start;
  column-gap: 2rem;
  font-size: var(--fs-sm);
  color: var(--clr-desc);
  padding: 2rem 2rem;
  background-color: var(--clr-text);
  border-radius: 1rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}

.facilities__title {
  font-size: var(--fs-base);
  margin-bottom: 0.3rem;
  font-family: var(--ff-secondary);
}

.facilities__icon {
  width: 3rem;
  height: auto;
}

@media screen and (min-width: 577px) {
  .facilities__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .facilities {
    padding: 8rem;
  }

  .facilities__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
  }
}
